# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/
.venv/
.env/

# Environment variables file (if you use one)
.env

# VSCode settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# Secrets file (if any)
config.py

# Any other secrets or tokens
*.token

firebase.json